body{

  
   padding-left:0;
   width: 960px;

  
}
@media (max-width: 992px) {
  body {
       padding-top:0 ;
       padding-right:0rem;
    }
}

@media (min-width: 992px) {
  body {
       padding-top:0 ;
       padding-right:17rem;
    }
}

.button1 {
    background-color:forestgreen;
}


.contian{
    text-align: center;
    right: 500px;
    top: 17px;
}

#map{
    height:500px;
    width:100%;
}

.hidden {
display:none;
}

.CitNavBar{
    background-color: #549d9d !important;
}

.navUl
{
padding-right: 0px;
}
.h1Cit{
 color: #549d9d;
}
    